<div class="container-fluid d-flex justify-content-center my-5">

    <div class="p-4 bg-verde rounded-5 shadow">
<!-- formulario -->
        <form action="#" class="text-light">

            <div class="mb-4 text-center">
                <label for="text" class="form-label text-uppercase fw-bold">Usuario</label>
                <input type="text" class="form-control" name="usuario">
            </div>

            <div class="mb-4 text-center">
                <label for="password" class="form-label text-uppercase fw-bold">Contraseña</label>
                <input type="password" class="form-control" name="password">
            </div>

            <div class="d-grid">
                <button class="btn btn-light text-uppercase fw-bold text-verde" (click)="login()">Entrar</button>
            </div>
        </form>

    </div>

</div>