<div class="container-fluid text-white text-center pt-5 d-flex justify-content-evenly">

    <div class="card bg-verde mt-5" style="width: 18rem;">
      <div class="card-body bg-verde">
        <h5 class="card-title text-uppercase text-white fw-bold">¿Quiénes somos?</h5>
        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum distinctio aspernatur, accusantium voluptates quod odit? Vero modi saepe incidunt dolorum quisquam cum. Dolorem, illo voluptate accusamus ullam quam minima reprehenderit?</p>
      </div>
    </div>

    <div class="card bg-verde mt-5" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title text-uppercase text-white fw-bold">Misión</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis molestias maxime quisquam ratione vitae officia reiciendis in nulla unde ut minima nesciunt officiis, earum modi ipsum quis ipsa dolore corrupti?</p>
      </div>
    </div>

    <div class="card bg-verde mt-5" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title text-uppercase text-white fw-bold">Visión</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi modi placeat quod voluptatum sit ex, dolorum optio? Dolores praesentium iure tenetur ratione quam. At ab obcaecati beatae mollitia labore recusandae.</p>
      </div>
    </div>

  </div>